body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.6;
    color: #c0a3c2;
    background: #270125;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Jaldi', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}
h2 {
    font-size: 50px;
    margin: 0 0 40px;
}
h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 20px;
}

a, a:visited {
    color: #ff3898;
    text-decoration: none;
}
a:hover, a:active {
    color: #ff3898;
    text-decoration: none;
    border-bottom: 1px solid #ff3898;
}

pre {
    background: #43014a;
    padding: 20px;
    border-radius: 5px;
    overflow: auto;
}
code {
    color: #fff;
}

.inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    display: inline-block;
    background: #ff037e;
    color: #fff;
    font-family: 'Jaldi', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 25px;
    margin: 0 0 20px;
    border: 0;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
a.btn {
    color: #fff;
}
.btn:hover {
    background-color: #ff1a88;
    border: 0;
}
.btn-secondary {
    background: #49a5f8;
}
.btn-secondary:hover {
    background-color: #62b2f9;
}
.btn-lg {
    font-size: 23px;
    padding: 20px 40px;
    border-radius: 10px;
}

.header {
    position: relative;
    background: #43014a;
    text-align: center;
    padding: 100px 0;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='193px' height='123px' viewBox='0 0 193 123' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3EUntitled%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cpath d='M96.5,2.5 L96.5,121.5' id='Line' stroke='%235b0264' stroke-width='2'%3E%3C/path%3E%3Cpath d='M1.5,1.5 L1.5,121.5' id='Line-Copy-2' stroke='%235b0264' stroke-width='2'%3E%3C/path%3E%3Cpath d='M1.5,62.5 L96.5,62.5' id='Line-Copy-3' stroke='%235b0264' stroke-width='2'%3E%3C/path%3E%3Cpath d='M96.5,1.5 L191.5,1.5' id='Line-Copy-4' stroke='%235b0264' stroke-width='2'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
.header:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, transparent 0%, rgba(39,1,37,1) 100%);
}
.header h1 {
    margin: 0 0 5px;
}
.header h1 span {
    font-weight: 400;
}
.header p {
    font-size: 20px;
    margin: 0;
}

@media (min-width: 576px) {
    .header h1 {
        font-size: 80px;
    }
}

.section {
    margin-bottom: 100px;
}
.section-title {
    text-align: center;
}

.demo-section {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-bottom: 140px;
}
.demo-section .btn {
    margin-bottom: 40px;
}

.demo-wrapper {
    height: 600px;
    overflow: hidden;
    position: relative;
}
.demo-wrapper:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(to bottom, transparent 0%, rgba(39,1,37,1) 100%);
}
.demo-item {
    padding: 2px;
}
.demo-item-inner {
    width: 100%;
    height: 100px;
    background: #8677dd;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}
.demo-item-inner.appear { opacity: 1; }

.features .feature {
    margin-bottom: 40px;
}

@media (min-width: 576px) {
    .features {
        display: flex;
        justify-content: space-between;
    }
    .features .feature {
        width: 33.333%;
        text-align: center;
        padding: 0 20px;
    }
}

.footer {
    text-align: center;
    opacity: 0.7;
    margin-bottom: 100px;
}

.github-corner {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
.github-corner:hover .octo-arm { animation:octocat-wave 560ms ease-in-out; }
@keyframes octocat-wave {
    0%,100%{ transform:rotate(0); }
    20%,60%{ transform:rotate(-25deg); }
    40%,80%{ transform:rotate(10deg); }
}
@media (max-width:500px) {
    .github-corner:hover .octo-arm{ animation:none; }
    .github-corner .octo-arm{ animation:octocat-wave 560ms ease-in-out; }
}
